main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large) 0;
}

/* Form Styling */

label {
  margin-left: 2px;
}

input {
  height: 2.5rem;
  padding: var(--spacing-xs);
  border-radius: 0.4rem;
}

input:not(:last-of-type) {
  margin-bottom: var(--spacing-small);
}

textarea {
  resize: none;
  height: 200px;
  padding: var(--spacing-xs);
  border-radius: 0.4rem;
  font-family: Roboto-Regular;
}

.form__contact-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.files {
  margin-top: var(--spacing-xs);
}

.form__paragraph {
  align-self: center;
  padding: var(--spacing-small);
  font-style: italic;
}

/* Form Button */
.form__submit-button {
  width: 50%;
  font-weight: bold;
  align-self: center;
  padding: var(--spacing-xs);
  border-radius: 0.4rem;
  color: var(--font-color-dark);
  background-color: var(--color-light);
  border: none;
}

.form__submit-button:hover {
  opacity: 0.9;
}

.form__submit-button:active {
  opacity: 1;
}

/* Message Sent Popup */
.message-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-medium);
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: var(--color-primary);
  border-radius: 0.4rem;
  box-shadow: 0 0 0 1px white;
}

/* Media Screen Queries */
@media screen and (max-width: 880px) {
  .form__contact-container {
    width: 70%;
  }
}
