footer {
  color: var(--font-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  letter-spacing: 0.2rem;
  background-color: var(--color-primary);
  padding: var(--spacing-large);
  margin-top: var(--spacing-large);
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-large);
  flex-wrap: wrap;
}

.footer__social {
  background-color: white;
  padding: var(--spacing-small);
  border-radius: 50%;
  cursor: pointer;
}

.footer__social:hover {
  opacity: 0.8;
}

.footer__copyright {
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--color-light);
  padding-top: 2rem;
}
