header {
  color: var(--font-color-light);
  letter-spacing: 0.1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary);
}

.navbar {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-large) 0;
}

.navbar__search {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  height: 2rem;
  width: 80%;
  padding: var(--spacing-xs);
  font-family: Roboto-Regular;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navbar__navigation {
  display: flex;
  gap: 3rem;
}

.navbar__navigation-link {
  border-bottom: 2px solid transparent;
}

.navbar__navigation-link:hover {
  border-bottom: 2px solid var(--font-color-light);
}

.navbar__navigation-link--active {
  border-bottom: 2px solid var(--font-color-light);
}

/* Styles for toggle button */
.navbar__navigation-menu {
  display: none;
}

.navigation-menu__hamburger-menu {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  z-index: 1;
}

.navbar__toggle-button:hover {
  color: var(--text-color-hover);
}

@media screen and (max-width: 880px) {
  .navbar__navigation {
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    top: 0;
    left: -1000px;
    width: 40%;
    flex-direction: column;
    transition: 1s;
    background-color: var(--color-primary);
  }

  .navbar__navigation--active {
    left: 0;
  }

  .navbar__navigation-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    gap: var(--spacing-small);
    padding: var(--spacing-small) 0;
  }
  .navbar__header {
    flex-basis: 100%;
  }
  .navbar__search {
    flex-grow: 1;
    min-width: 0px;
  }
  .search__input {
    width: 100%;
  }
  .navbar__navigation {
    width: 100%;
  }
}
